.header_togle-block {
  display: flex;
  flex-direction: column;
}
.header_temperature {
  display: flex;
  flex-direction: row;
}
.header_black-light {
  display: flex;
  flex-direction: row;
}
.header_img {
  display: flex;
  width: 20px;
  height: 20px;
}

.input-button {
  display: flex;
  flex-direction: row;
  text-align: start;
}

.nav-img {
  display: flex;
  width: 60px;
  height: auto;
}
