<mat-toolbar color="primary" class="navbar">
   <span class="header-text">Angular Weather App</span>


   <div class="header_togle-block">
      <div class="header_temperature">
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/512/15/15752.png" alt="">
         </span>
         <mat-slide-toggle [(ngModel)]="inputServic.temperatureMode"></mat-slide-toggle>
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/512/4644/4644656.png" alt="">
         </span>
      </div>
      <div class="header_black-light">
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/128/2698/2698194.png" alt="">
         </span>
         <mat-slide-toggle [(ngModel)]="themeMode"></mat-slide-toggle>
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/128/2955/2955890.png" alt="">
         </span>
      </div>
   </div>
</mat-toolbar>