<div class="navbar">
   <h1>Angular Weather App</h1>
   <div class="input-button"><input type="text" [(ngModel)]="inputServic.city" placeholder="Search city...">
      <button class=" nav-img" (click)="setDate()">
         <img src="https://image.flaticon.com/icons/png/512/709/709592.png" alt="">
      </button>
   </div>
   <div class="header_togle-block">
      <div class="header_temperature">
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/512/15/15752.png" alt="">
         </span>
         <button class="btn">S\D</button>
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/512/4644/4644656.png" alt="">
         </span>
      </div>
      <div class="header_black-light">
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/128/2698/2698194.png" alt="">
         </span>
         <button class="btn">S\D</button>
         <span class="header_img">
            <img src="https://image.flaticon.com/icons/png/128/2955/2955890.png" alt="">
         </span>
      </div>
   </div>
</div>