.header_togle-block {
  display: flex;
  flex-direction: row;
}
.header_temperature {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  align-items: stretch;
}
.header_black-light {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_img {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-img {
  display: flex;
  width: 60px;
  height: auto;
}
